* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.recipe-list {
  margin : 0;
  padding: 0;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-Template-Columns: repeat(auto-fill, 250px);
  grid-Auto-Rows: auto;

}

.card {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
  list-Style: none;
  margin: 15px 10px;
  padding: 25px;
  border-Radius: 15px;
  background-Color: #a3b697;
  grid-Row-End: span 33;
  margin-Top: 10px;
  margin-Left: 25px;
  margin-Right: 2px;
}

.recipe-image {
  border: 2px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.header {
  text-align: center;
  list-Style: none;
  margin: 5px 5px;
  padding: 5px;
  border-Radius: 12px;
  background-Color: white;
  grid-Row-End: span 33;
  margin-Top: 5px;
  margin-Left: 25px;
  margin-Right: 2px;
  font-size: 100px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
} */

:root {
  --primary-color: grey; 
  --secondary-color: #e7ece4; 
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 
}

/* Example of styling a specific element */
/* .recipe-title {
  color: var(--primary-color);
} */
/* .recipe-card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
} */

/* .recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
} */
/* 
.recipe-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
} */

/* .recipe-description {
  font-size: 14px;
  margin-top: 5px;
  color: #888;
} */

/* button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: ;
  cursor: pointer;
  color: #7ac070;
  display: flex; */
  /* justify-content: center; */
  /* flex-direction: column;
  margin-top: 15px;
} */

/* button.primary {
  color: #7ac070;
  
} */