/*GLOBAL SELECTOR*************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*LARGE LAYOUT****************************************************************/
:root {
  --primary-color: grey; 
  --secondary-color: #e7ece4; 
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 
}

/*HEADER**********************************************************************/
.header {
  text-align: center;
  list-Style: none;
  margin: 15px 10px;
  padding: 5px;
  border-Radius: 12px;
  background-Color: white;
  grid-Row-End: span 33;
  margin-Top: 5px;
  margin-Left: 500px;
  margin-Right: 500px;
  font-size: 50px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/*MAIN PAGE*******************************************************************/
.recipe-list {
  margin : 0;
  padding: 0;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-Template-Columns: repeat(auto-fill, 250px);
  grid-Auto-Rows: auto;

}

/*SINGLE CARD*****************************************************************/
.card {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
  list-Style: none;
  margin: 15px 10px;
  padding: 10px;
  border-Radius: 15px;
  background-Color: #a3b697;
  grid-Row-End: span 33;
  margin-Top: 10px;
  margin-Left: auto; /*25px*/
  margin-Right: auto; /*-23px*/
}

.recipe-image {
  /*border: 2px solid white;*/
  display: block;
  /*image sizing*/
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 white;
  cursor: pointer;
}
/*RECIPE FORM*****************************************************************/
.new-recipe-form {
  text-align: center;
  text-align: center;
  list-Style: none;
  margin: 5px 5px;
  padding: 5px;
  border-Radius: 12px;
  background-Color: #a3b697;
  grid-Row-End: span 33;
  margin-Top: 5px;
  margin-Left: 25px;
  margin-Right: 2px;
  font-size: 20px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.new-recipe-form-input {
  text-align: center;
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 100px;
  /* color: #e7e5e4; */
  color: white;
  
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  width: 150px;
  margin-left: 200px;
}

.new-recipe-form-button {
  text-align: center;
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 100px;
  color: grey;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  width: 150px;
  margin-left: 200px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
}

/*ABOUT**********************************************************************/
.about {
  text-align: center;
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 100px;
  color: grey;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  width: 150px;
  margin-left: 200px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
}

/*SEARCH**********************************************************************/
.search-box {
  text-align: center;
  list-Style: none;
  margin: 50px 5px;
  padding: 25px;
  border-Radius: 12px;
  background-Color: white;
  grid-Row-End: span 33;
  margin-Top: 5px;
  margin-Left: 210px;
  margin-Right: 210px;
  font-size: 20px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.search-input-filter {
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 12px;
  color: grey;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  width: 150px;
  margin-left: 20px;
}

.search-input {
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 12px;
  color: grey;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  width: 1000px;
  margin-left: 2px;
}

.search-button {
  border: none;
  padding: 12px 24px;
  background: #d2dbcc;
  border-radius: 12px;
  color: grey;
  font-family: inherit;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  width: 150px;
  margin-left: 2px;
}
input:hover {
  opacity: 0.5;
}

button:hover{
  opacity: 0.5;
}








